<div class="container">
  <div class="content glass">
    <div class="escape-button" (click)="escape.emit()">
      <img src="assets/svg/xmark.circle.svg" alt="escape">
    </div>
    <div class="title">Charge Simulation</div>
    <div class="tools-container">
      <div class="section">
        <div class="medium-title">Movement</div>
        <div class="radio-button-container">
          <span *ngFor="let preset of parametersService.possiblePresets" class="radio-button" (click)="setPreset(preset)">
            <img *ngIf="parametersService.parameters.preset != preset" class="radio-mark" src="assets/svg/circle.svg" alt="not selected">
            <img *ngIf="parametersService.parameters.preset == preset" class="radio-mark" src="assets/svg/circle.circle.svg" alt="not selected">
            <span>{{parametersService.getTitle(preset)}}</span>
          </span>
          <span class="radio-button" (click)="setPreset('custom')">
            <img *ngIf="parametersService.parameters.preset != 'custom'" class="radio-mark" src="assets/svg/circle.svg" alt="not selected">
            <img *ngIf="parametersService.parameters.preset == 'custom'" class="radio-mark" src="assets/svg/circle.circle.svg" alt="not selected">
            <span>Custom</span>
          </span>
        </div>
      </div>
      <div class="section-divider"></div>
      <div class="section">
        <div class="medium-title">Charge Position</div>
        <!-- <div class="row function">
          x(t) = {{parametersService.parameters.expressionX}}
        </div>
        <div class="row function">
          y(t) = {{parametersService.parameters.expressionY}}
        </div> -->
        <div class="row function">
          <span>x(t) = </span><input class="expression" type="text" 
          [ngModel]="parametersService.parameters.expressionX" [(ngModel)]="expressionX" (focusout)="setX()" (keydown.enter)="blur()"
          [disabled]="parametersService.parameters.preset != 'custom'"
          [style.opacity]="parametersService.parameters.preset == 'custom' ? 1 : 0.7">
        </div>
        <div class="row function">
          <span>y(t) = </span><input class="expression" type="text" 
          [ngModel]="parametersService.parameters.expressionY" [(ngModel)]="expressionY" (focusout)="setY()" (keydown.enter)="blur()"
          [disabled]="parametersService.parameters.preset != 'custom'"
          [style.opacity]="parametersService.parameters.preset == 'custom' ? 1 : 0.7">
        </div>
      </div>
      <div class="section-divider"></div>
      <div class="section" [style.position]="'relative'">
        <app-colorwheel [x]="getVector()!.x" [y]="getVector()!.y"></app-colorwheel>
        <input type="checkbox" class="top-left checkbox" [ngModel]="parametersService.parameters.showWheel" 
        (ngModelChange)="parametersService.parameters.showWheel = $event; parametersService.setURL()">
      </div>
      <div class="section-divider"></div>
      <div class="section">
        <div class="medium-title">Commands</div>
        <div class="row">
          <div class="command">F</div>
          <div class="command-description">Full screen</div>
        </div>
        <div class="row">
          <div class="command">R</div>
          <div class="command-description">Reset simulation</div>
        </div>
      </div>
      <div class="section-divider"></div>
    </div>
  </div>
</div>
